<div class="row">
    <table class="table table-striped">
      <% current_user.movie_likes.each do |like| %>
        <tr>
          <td><%= link_to like.movie.title, movie_path(like.movie)  %></td>
        </tr>
      <% end %>
    </table>
</div>
