<%= params %>

<div class="row">
    <table class="table table-striped">
      <% current_user.movie_likes.each do |like| %>
        <tr>
        	<% movie = Movie.find(like.movie_id) %>
          <td><%= link_to "#{movie.title}", movie_path(movie.id)  %></td>
        </tr>
      <% end %>
    </table>
</div>